* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  cursor: pointer;
}

body {
  position: relative;
  width: 100dvw;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}

::-webkit-scrollbar {
  display: none;
}